<div class="jumbotron">
    <h2 translate>Education
        <button translate *ngIf="!editMode" (click)="editMode = true" style="float : right">Edit</button>
        <button translate *ngIf="editMode" (click)="save()" style="float : right">Save</button>
    </h2>
    <ul class="timeline">
        <li>
            <div class="timeline-badge">
              <a><i class="fa fa-circle" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>
                        <textarea *ngIf="editMode" [(ngModel)]="title1" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                        <p *ngIf="!editMode">{{title1}}</p>
                    </h4>
                </div>
                <div class="timeline-body">
                    <textarea *ngIf="editMode" [(ngModel)]="edu1" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                    <p *ngIf="!editMode">{{edu1}}</p>
                </div>
                <div class="timeline-footer">
                    <div class="text-right">
                        <textarea *ngIf="editMode" [(ngModel)]="date1" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                        <p *ngIf="!editMode">{{date1}}</p>
                    </div>
                </div>
            </div>
        </li>
        
        <li class="timeline-inverted">
            <div class="timeline-badge">
                <a><i class="fa fa-circle invert" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>
                        <textarea *ngIf="editMode" [(ngModel)]="title2" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                        <p *ngIf="!editMode">{{title2}}</p>
                    </h4>
                </div>
                <div class="timeline-body">
                    <textarea *ngIf="editMode" [(ngModel)]="edu2" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                    <p *ngIf="!editMode">{{edu2}}</p>                
                </div>
                <div class="timeline-footer">
                    <div class="text-right">
                        <textarea *ngIf="editMode" [(ngModel)]="date2" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                        <p *ngIf="!editMode">{{date2}}</p>
                    </div>
                </div>
            </div>
        </li>
        
        <li>
            <div class="timeline-badge">
                <a><i class="fa fa-circle" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>
                        <textarea *ngIf="editMode" [(ngModel)]="title3" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                        <p *ngIf="!editMode">{{title3}}</p>
                    </h4>
                </div>
                <div class="timeline-body">
                    <textarea *ngIf="editMode" [(ngModel)]="edu3" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                    <p *ngIf="!editMode">{{edu3}}</p>
                </div>
                <div class="timeline-footer">
                    <div class="text-right">
                        <jqxDateTimeInput #myDateTimeInput *ngIf="editMode" [(ngModel)]="date3From" placeholder="Education experiences" rows="1" (keyup.enter)="save()"
                            [width]="300" [height]="25" [formatString]="'Y'" style="float: left">
                        </jqxDateTimeInput>
                        <jqxDateTimeInput #myDateTimeInput *ngIf="editMode" [(ngModel)]="date3Untill" placeholder="Education experiences" rows="1" (keyup.enter)="save()"
                            [width]="300" [height]="25" [formatString]="'Y'" style="float: right">
                        </jqxDateTimeInput>
                        <p *ngIf="!editMode">{{date3From}} - {{date3Untill}}</p>
                    </div>
                </div>
            </div>
        </li>
        
        <li class="timeline-inverted">
            <div class="timeline-badge">
                <a><i class="fa fa-circle invert" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>
                        <textarea *ngIf="editMode" [(ngModel)]="title4" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                        <p *ngIf="!editMode">{{title4}}</p>
                    </h4>
                </div>
                <div class="timeline-body">
                    <textarea *ngIf="editMode" [(ngModel)]="edu4" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                    <p *ngIf="!editMode">{{edu4}}</p>
                </div>
                <div class="timeline-footer">
                    <div class="text-right">
                        <textarea *ngIf="editMode" [(ngModel)]="date4" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                        <p *ngIf="!editMode">{{date4}}</p>
                    </div>
                </div>
            </div>
        </li>
        
        <li>
            <div class="timeline-badge">
                <a><i class="fa fa-circle" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>
                        <textarea *ngIf="editMode" [(ngModel)]="title5" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                        <p *ngIf="!editMode">{{title5}}</p>
                    </h4>
                </div>
                <div class="timeline-body">
                    <textarea *ngIf="editMode" [(ngModel)]="edu5" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                    <p *ngIf="!editMode">{{edu5}}</p>
                </div>
                <div class="timeline-footer">
                    <div class="text-right">
                        <textarea *ngIf="editMode" [(ngModel)]="date5" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                        <p *ngIf="!editMode">{{date5}}</p>
                    </div>
                </div>
            </div>
        </li>
        
        <li  class="timeline-inverted">
            <div class="timeline-badge">
                <a><i class="fa fa-circle invert" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>
                        <textarea *ngIf="editMode" [(ngModel)]="title6" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                        <p *ngIf="!editMode">{{title6}}</p>
                    </h4>
                </div>
                <div class="timeline-body">
                    <textarea *ngIf="editMode" [(ngModel)]="edu6" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                    <p *ngIf="!editMode">{{edu6}}</p>
                </div>
                <div class="timeline-footer primary">
                    <div class="text-right">
                        <textarea *ngIf="editMode" [(ngModel)]="date6" placeholder="Education experiences" rows="1" (keyup.enter)="save()"></textarea>
                        <p *ngIf="!editMode">{{date6}}</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="clearfix no-float"></li>
    </ul>
</div>