<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<div class="jumbotron">
    <div class="col-md-12 text-center">
        <h1 class="display-4 text-center" style="margin-top:2%">
            <p *ngIf="!editMode">{{name}}</p>
        </h1>
        <button translate *ngIf="!editMode" (click)="editMode = true" style="float : right">Edit</button>
        <button translate *ngIf="editMode" (click)="save()" style="float : right">Save</button>
        <h2>
            <textarea *ngIf="editMode" [(ngModel)]="name" placeholder="Write your name" rows="1" (keyup.enter)="save()"></textarea>
        </h2>
        
        <h3 class="text-center">
            <textarea *ngIf="editMode" [(ngModel)]="major" placeholder="Select your major" rows="1" (keyup.enter)="save()"></textarea>
            <p *ngIf="!editMode">{{major}}</p>
        </h3>

        <div class="text-center">
            <!-- <input *ngIf="editMode" id="custom-input" type="file" (change)="fileChangeListener($event)"> -->
            <img-cropper *ngIf="editMode" [image]="data" [settings]="cropperSettings"></img-cropper><br>
            <img *ngIf="!editMode && cropDone" id="picture" class="rounded" [src]="data.image">
            <img *ngIf="!editMode && !cropDone" id="picture" class="rounded" src="../../assets/img/elonmusk.jpg">
        </div>

        <div class="text-center" style="margin-top:30px">
            <textarea *ngIf="editMode" [(ngModel)]="catchPhrase" rows="5" cols="100%" placeholder="Use a catchphrase" (keyup.enter)="save()"></textarea>
            <p *ngIf="!editMode">{{catchPhrase}}</p>
        </div>
    </div>
    <div class="text-center">
        <button *ngIf="!editCV" (click)="editCV = true">Upload CV</button>
    </div>
    <jqxFileUpload *ngIf="editCV" [height]="height"></jqxFileUpload>
    <div class="text-center">
        <a href="https://www.patreon.com/posts/share-buttons-2-14815278" class="btn-facebook" target="_blank">Facebook</a>
        <a href="#" class="btn-twitter">Twitter</a>
        <a href="#" class="btn-google-plus">Google+</a>
        <a href="#" class="btn-linkedin">LinkedIn</a>
    </div>
</div>      