<div class="container-fluid">
    <div class="jumbotron">
        <div class="col-md-12 text-center">
            <h1 class="display-4 text-center" style="margin-top:2%">Robin Croon</h1>
            <h3 class="text-center">ICT</h3>
            <div class="text-center">
                <img id="picture" class="rounded" src="../../assets/img/daphne.png">
                <p>I am an enthousiastic and young Industrial Engineer looking for a job in UI design.</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">View Resume</a></p>
            </div>
        </div>
    </div>

    <div class="jumbotron" style="background-color:white">
        <div class="row">
            <h2 class="text-uppercase">Who Am I?</h2>
            <p>Donec quis nisi mattis, placerat libero vitae, venenatis ex. Fusce varius luctus vehicula. Nullam sit amet congue arcu. Suspendisse facilisis accumsan nibh, et ornare nisi accumsan sit amet. Sed arcu purus, tincidunt nec pellentesque ut, scelerisque eu dui. Maecenas luctus, velit id tincidunt interdum, justo mauris ullamcorper tortor, quis interdum lorem arcu ac sem. Fusce vel mollis sem. Ut interdum urna in tempus finibus. Nam mollis metus lacus, lobortis mollis lorem tempus et. Ut fringilla neque a libero laoreet, in pretium massa ornare. Cras elementum posuere enim eget condimentum. Praesent venenatis vulputate elit nec egestas. Mauris auctor id libero non mollis. Praesent quis lacus auctor, accumsan tortor eu, vulputate libero. Donec venenatis lacus at lorem laoreet, quis ornare tortor vulputate.</p>
        </div>
    </div>

    <div class="jumbotron">
            <h2>Education Timeline</h2>
            <ul class="timeline">
                <li>
                    <div class="timeline-badge">
                      <a><i class="fa fa-circle" id=""></i></a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Timeline Event</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
                        </div>
                        <div class="timeline-footer">
                            <p class="text-right">Feb-21-2014</p>
                        </div>
                    </div>
                </li>
                
                <li class="timeline-inverted">
                    <div class="timeline-badge">
                        <a><i class="fa fa-circle invert" id=""></i></a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Timeline Event</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Stranguillione in deinde cepit roseo commendavit patris super color est se sed. Virginis plus plorantes abscederem assignato ipsum ait regem Ardalio nos filiae Hellenicus mihi cum. Theophilo litore in lucem in modo invenit quasi nomen magni ergo est se est Apollonius, habet clementiae venit ad nomine sed dominum depressit filia navem.</p>
                        </div>
                        <div class="timeline-footer">
                            <p class="text-right">Feb-23-2014</p>
                        </div>
                    </div>
                </li>
                
                <li>
                    <div class="timeline-badge">
                        <a><i class="fa fa-circle" id=""></i></a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Timeline Event</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Advenientibus aliorum eam ad per te sed. Facere debetur aut veneris accedens.</p>
                        </div>
                        <div class="timeline-footer">
                            <p class="text-right">Feb-23-2014</p>
                        </div>
                    </div>
                </li>
                
                <li class="timeline-inverted">
                    <div class="timeline-badge">
                        <a><i class="fa fa-circle invert" id=""></i></a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Timeline Event</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Volvitur ingreditur id ait mea vero cum autem quod ait Cumque ego illum vero cum unde beata. Commendavi si non dum est in. Dionysiadem tuos ratio puella ut casus, tunc lacrimas effunditis magister cives Tharsis. Puellae addita verbaque' capellam sanctissima quid, apollinem existimas filiam rex cum autem quod tamen adnuente rediens eam est se in. Peracta licet ad nomine Maria non ait in modo compungi mulierem volutpat.</p>
                        </div>
                        <div class="timeline-footer">
                            <p class="text-right">Feb-27-2014</p>
                        </div>
                    </div>
                </li>
                
                <li>
                    <div class="timeline-badge">
                        <a><i class="fa fa-circle" id=""></i></a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Timeline Event</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Adfertur guttae sapientiae ducitur est Apollonius ut a a his domino Lycoridem in lucem. Theophile atque bona dei cenam veniebant est cum. Iusto opes mihi Tyrum in modo compungi mulierem ubi augue eiusdem ordo quos vero diam omni catervis famulorum. Bene dictis ut diem finito servis unde.</p>
                        </div>
                        <div class="timeline-footer">
                            <p class="text-right">Mar-01-2014</p>
                        </div>
                    </div>
                </li>
                
                <li  class="timeline-inverted">
                    <div class="timeline-badge">
                        <a><i class="fa fa-circle invert" id=""></i></a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Timeline Event</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Crede respiciens loco dedit beneficio ad suis alteri si puella eius in. Acceptis codicello lenonem in deinde plectrum anni ipsa quod eam est Apollonius.</p>
                        </div>
                        <div class="timeline-footer primary">
                            <p class="text-right">Mar-02-2014</p>
                        </div>
                    </div>
                </li>
                <li class="clearfix no-float"></li>
            </ul>
        </div>

    <div class="jumbotron">
        <div class="row">
            <h2 class="text-uppercase">Skills</h2>
        </div>

        <md-card>
        <md-grid-list cols="3" rowHeight="2:1">
        <md-grid-tile>
            <div class="col-lg-6">
                <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                    </button>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                </div>
            </div>
        </md-grid-tile>
        <md-grid-tile>
            <div class="col-lg-6">
                <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary btn-md dropdown-toggle" style="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                    </button>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                </div>
            </div>
        </md-grid-tile>
        <md-grid-tile>
            <div class="col-lg-6">
                    <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-primary btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                        </button>
                        <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                    </div>
                </div>
        </md-grid-tile>
        <md-grid-tile>
            <div class="col-lg-6">
                    <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-primary btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                        </button>
                        <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                    </div>
                </div>
        </md-grid-tile>
        <md-grid-tile>
            <div class="col-lg-6">
                    <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-primary btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                        </button>
                        <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                    </div>
                </div> 
        </md-grid-tile>
        <md-grid-tile>
            <div class="col-lg-6">
                <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                    </button>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                </div>
            </div>
        </md-grid-tile>

        </md-grid-list>
        </md-card>  
    </div>

    <footer class="footer">
        <div class="container">
            <div class="text-center">
                <span class="text-muted">
                    Copyright © Studentenvereniging INDUSTRIA vzw
                    <br>Andreas Vesaliusstraat 13 3000 Leuven · BTW BE 0459.261.940
                    <br>Tel 016/30 10 48 · Vragen en opmerkingen: <a href="mailto:info@industria.be" data-slimstat="5">info@industria.be</a>
                </span>
            </div>
        </div>
    </footer>
</div>
