/*styles for home content only*/
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

md-card {
  max-width: 80%;
  margin: 2em auto;
}

md-toolbar-row {
  justify-content: space-between;
}

#home {
  height: 250px;
  background-color:whitesmoke;
}
#picture {
  width: 200px;
}
#edit {
  margin-left: 300px;
  width: 100px;
}

#resume {
  margin-right: 50px;
  width: 100px;
}

#bio {
  background-color: white;
}

#header {
  margin-top: 2%;
  margin-left: 50px;
}

#text {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
}

#skills {
  background-color: whitesmoke;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}