<div class="container-fluid">
<div id="home">
    <h3 class="text-center text-uppercase">Robin Croon</h3>
    <p class="text-center">ICT</p>

    <div class="row">
            <div class="col-md-4">
                <input id="edit" class="btn btn-primary" type="button" value="EDIT">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <img id="picture" class="img-thumbnail" src="../../assets/img/daphne.png">
            </div>
            <div class="col-md-4">
                <input id="resume" class="btn btn-primary" type="button" value="RESUME">
            </div>
    </div>
</div>

<div id="bio">
    <div class="row">
        <h3 id="header" class="text-uppercase">Who Am I?</h3>
        <p id="text">Donec quis nisi mattis, placerat libero vitae, venenatis ex. Fusce varius luctus vehicula. Nullam sit amet congue arcu. Suspendisse facilisis accumsan nibh, et ornare nisi accumsan sit amet. Sed arcu purus, tincidunt nec pellentesque ut, scelerisque eu dui. Maecenas luctus, velit id tincidunt interdum, justo mauris ullamcorper tortor, quis interdum lorem arcu ac sem. Fusce vel mollis sem. Ut interdum urna in tempus finibus. Nam mollis metus lacus, lobortis mollis lorem tempus et. Ut fringilla neque a libero laoreet, in pretium massa ornare. Cras elementum posuere enim eget condimentum. Praesent venenatis vulputate elit nec egestas. Mauris auctor id libero non mollis. Praesent quis lacus auctor, accumsan tortor eu, vulputate libero. Donec venenatis lacus at lorem laoreet, quis ornare tortor vulputate.</p>
    </div>
</div>

<div id="skills">
    <div class="row">
        <h3 id="header" class="text-uppercase">Skills?</h3>
    </div>

    <md-card>
    <md-grid-list cols="3" rowHeight="2:1">
    <md-grid-tile>
        Angular4
        <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">CSS</a></li>
                  <li><a href="#">JavaScript</a></li>
                </ul>
            </div>
    </md-grid-tile>
    <md-grid-tile>
        GraphQL
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
        </div>
    </md-grid-tile>
    <md-grid-tile>
        Node
        <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">CSS</a></li>
                  <li><a href="#">JavaScript</a></li>
                </ul>
            </div>
    </md-grid-tile>
    <md-grid-tile>
        Express
        <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">CSS</a></li>
                  <li><a href="#">JavaScript</a></li>
                </ul>
            </div>
    </md-grid-tile>
    <md-grid-tile>
        and even
        <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">CSS</a></li>
                  <li><a href="#">JavaScript</a></li>
                </ul>
            </div> 
    </md-grid-tile>

    </md-grid-list>
    </md-card>  
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Copyright © Studentenvereniging INDUSTRIA vzw
                Andreas Vesaliusstraat 13 3000 Leuven · BTW BE 0459.261.940
                Tel 016/30 10 48 · Vragen en opmerkingen: info@industria.be</span>
    </div>

</footer>
</div>
