<div class="jumbotron" style="background-color:white">
    <h2 translate style="margin-bottom : 25px">WhoAmI
        <button translate *ngIf="!editMode" (click)="editMode = true" style="float: right">Edit</button>
        <button translate *ngIf="editMode" (click)="save()"style="float: right">Save</button>
    </h2>
    <div class="row">
        <textarea *ngIf="editMode" [(ngModel)]="bio" rows="7" cols="400" placeholder="Write a short bio about yourself" (keyup.enter)="save()"></textarea>
        <p *ngIf="!editMode">{{bio}}</p>
    </div>
</div>